.song-info {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        width: 20%;
        border-radius: 50%;
    }
    h2 {
        padding: 3rem 1rem 1rem 1rem;
    }

}

@media  screen and (max-width: 750px) {
    .song-info {
        img {
            width: 50%;
        }
    }
}