*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-weight: 400;
    color: gray;
}

.App {
    transition: all 0.5s ease;
}

.library-active {
    margin-left: 30%; 
}



@import 'Player';
@import 'Song';
@import 'Library';
@import '-Nav.scss'